            .titulo_secundario{
                background-color: #ecd1d1;
                color: white;
            }

            #titulo_principal{
                background-color: #000000;
                color: white;
            }

            #layout{ 
                display: flex;
            }

            .rodape{
                text-align: center;
            }