            .titulo_secundario{
                background-color: #000000;
                color: white;
            }

            #titulo_principal{
                background-color: #e7b419;
                color: white;
            }